<html>
  <head>
    <title>MakerSlots</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='../public/stylesheets/home.css' />
  </head>
  <body>
    <nav class="navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">MakerSlots</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Schedule</a></li>
          <li><a href="#">Forum</a></li>
          <li><a href="#">New Print</a></li>
        </ul>
      </div>
    </nav>
    <div class="container announcements">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1>Announcements</h1>
            </div>
            <div class="panel-body">
              <h1>hi</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h1>Printers</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
