<html>
<head>
  <title>MakerSlots</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
  <body>
    <nav class="navbar-dark bg-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">MakerSlots</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/forum">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/schedule">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/printform">New Print</a>
          </li>
        </ul>
    </nav>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <br>
          <form id="login-form">
            <fieldset class="form-group">
              <h3 style="text-align:center">Login to MakerSlots</h3>
              <hr>
              <input type="text" style="text-align:center" class="form-control" name="userNameLogin" placeholder="Email"> <br>
              <input type="password" style="text-align:center" class="form-control" name="passwordLogin" placeholder="Password"> <br>
              <input type="submit" class="btn-block btn btn-primary" value="Login"> <br>
            </fieldset>
          </form>
          <form id="new-user-form">
            <fieldset class="form-group">
              <h3 style="text-align:center">Create an Account</h3>
              <hr>
              <input type="text" style="text-align:center" class="form-control" name="userNameCreate" placeholder="Email"> <br>
              <input type="password" style="text-align:center" class="form-control" name="passwordCreate" placeholder="Password"> <br>
              <input type="submit" class="btn-block btn btn-success" value="Create Account"> <br>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="javascript/logs.js"></script>
  </body>
</html>
