<html>
<head>
  <title>MakerSlots</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <link rel='stylesheet' href='../public/stylesheets/post.css' />
</head>
  <body>
    <nav class="navbar-dark bg-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">MakerSlots</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New Print</a>
          </li>
        </ul>
    </nav>
    <div class="container">
      <div class="card">
        <div class="card-block">
          <h5 class="card-title">How large of an overhang can the Makerbots handle?<small class="text-muted"> - Hannah Twigg-Smith</small></h5>
          <h6><span class="label label-primary label-pill">Printer Function</span> <span class="label label-danger label-pill">SolidWorks</span> <span class="label label-success label-pill">General Questions</span><small class="text-muted"> Posted 3/14/16 </small></h6>
          <p class="card-text">The most merciful thing in the world, I think, is the inability of the human mind to correlate all its contents. We live on a placid island of ignorance in the midst of black seas of infinity, and it was not meant that we should voyage far. The sciences, each straining in its own direction, have hitherto harmed us little; but some day the piecing together of dissociated knowledge will open up such terrifying vistas of reality, and of our frightful position therein, that we shall either go mad from the revelation or flee from the light into the peace and safety of a new dark age.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Have you asked the Ninjas? <small class="text-muted"> - Hannah Twigg-Smith</small></li>
          <li class="list-group-item">Definitely less than an inch, I think. <small class="text-muted"> - Tatiana Anthony</small></li>
          <li class="list-group-item">Vestibulum at eros <small class="text-muted"> - Matt Ruehle</small></li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <form>
              <fieldset class="form-group">
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Contribute to the conversation"></textarea>
              </fieldset>
              <button class="btn btn-danger">Back</button> <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
